body {
    font-family: 'Arbutus Slab', serif;
    background-color: #A2B9AD; 
    color: black;
    transition: background-color 1s ease;
}
body.dark {
    background-color: black; 
    color: white;
    transition: background-color 1s ease;
}
body.dark a {
    color: white;
}

body.dark a:hover {
    background-color: #A2B9AD;
}

h1 {
    text-indent: 50px;
    font-weight: lighter;
}
video {
    width: 100%;
    max-width: 1200px; 
}
img {
    width: auto;
    display: block;
    margin: 0 auto;
}
.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

p, a {
    line-height: 1.7em;
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2rem;
    color: black;
}

p, img, video {
    opacity: 0.0;
    transition: opacity 1.0s;
}
video {
    margin-top: 2rem; 
}

p.show, img.show, video.show {
    opacity: 1.0;
}

p.choice {
    text-indent: 30px;
}

a:hover {
    background-color: white; 
}

.hidden {
    display: none; 
}